.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #55b1ee;
    color: rgb(249, 249, 249);
  }
  
  .navbar-logo {
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
  }
  
  .navbar-links a {
    color: white;
    font-weight: 500;
    transition: color 0.3s;
  }
  
  .navbar-links a:hover {
    color: #caf0f8;
  }